# Azure DevOps
ADO_ORG=messqc
ADO_PROJECT=Projet-700
ADO_PAT=

# Valeurs actives (prioritaires)
ADO_TEAM=
ADO_AREA_PATH=

# Defaults (fallback si ADO_TEAM/ADO_AREA_PATH vides)
ADO_DEFAULT_TEAM=CEA-CentreExcellenceAgilite Team
ADO_DEFAULT_AREA_PATH=Projet-700\DGPRITN Team\DGINST Team\DCEN Team\Efficience
